.Blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 80vh;

  h1 {
    background: linear-gradient(
      to right,
      #eb5e28,
      #252422,
      #f7f7f7,
      #252422
    );
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Candal";
    font-size: 6rem;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 1.3rem;
    color: #f7f7f7;
  }

  .notify {
    background-color: #252422;
    padding: 3rem 2rem;
    box-shadow: 0px 5px 15px 0px #252422, inset 0 -15px 0 #eb5e28,
      0 45px 0 #0000;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    width: 50%;

    label { 
        border: 1px solid #f1f1f1;
        display: flex;
        align-items: center;

        input {
            padding: 1rem 1.5rem;
            flex: 1;
            border: none;
            font-family: 'Raleway';
            outline: none;
        }


        button {
            padding: 1rem;
            font-family: 'Raleway';
            border: none;
            background-color: #eb5e28;
            color: #fff;
            font-weight: bold;
        }
    }

    #check {
        border: none;
        color: #f7f7f7;

        span {
            font-size: 1rem;
        }
    }
  }
}
