@import url("https://fonts.googleapis.com/css2?family=Candal");

.MobileApps {
  padding: 0rem 0rem 4rem 0rem;
  width: 75%;

  .mobile-intro {
    height: 70vh;
    background-color: #eb5e2854;
    border-radius: 5px;
    border-bottom-right-radius: 1000px 550px;
    box-shadow: 2px 35px 3px 5px #0000;
    position: relative;
    text-align: left;
    margin-top: 0.5rem;

    .mobile-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin: 0;
        font-family: "Candal";
        color: #eb5e28;
        font-size: 3rem;
        margin-top: 10rem;
      }

      p {
        width: 70%;
        color: #f7f7f7;
        font-weight: bold;
        font-size: 1.3rem;
        text-align: center;
      }
    }

    .triangle-one {
      border-bottom: 150px solid #eb5e2854;
      border-right: 100px solid transparent;
      border-left: 100px solid transparent;
      border-radius: 30px 50px;
      position: absolute;
      top: 50%;
      left: 10%;
    }

    .two {
      border-bottom: 50px solid #eb5e2854;
      border-right: 50px solid transparent;
      border-left: 50px solid transparent;
      top: 53%;
      left: 15%;
    }

    .three {
      border-bottom: 50px solid #eb5e2854;
      border-right: 50px solid transparent;
      border-left: 50px solid transparent;
      top: 20%;
      left: 82.5%;
    }

    .four {
      top: 1%;
      left: 80%;
    }
  }

  .budget {
    background-color: #252422;
    height: 20rem;
    width: 30rem;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 5px 15px 0px #252422, inset 0 -15px 0 #ff6200ab,
      0 45px 0 #0000;
    border-radius: 20px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      color: #ff6000ce;
      border-bottom: 1px solid #eb5e28;
      padding-bottom: 0.5rem;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;
      color: #f7f7f7;

      input {
        width: 50%;
        padding: 0.5rem 1rem;
        font-family: "Raleway";
        border: 1px solid #f1f1f1;
        outline: none;
      }
    }

    button {
      background-color: #ff6000ce;
      border: none;
      padding: 0.5rem 1rem;
      width: 57.5%;
      align-self: flex-end;
      font-family: "Raleway";
      font-weight: bold;
      color: #fff;
    }
  }

  .portfolio {
    padding: 4rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      margin: 0;
      color: #eb5e28;
      font-size: 2.5rem;
    }

    .portfolio-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0rem 4rem 0rem 4rem;
      gap: 4rem;

      .row-one-add {
        display: flex;
        gap: 2rem;

        .left {
          flex: 1;
          position: relative;
          display: flex;
          align-items: center;
          padding: 2rem;

          .stroke {
            flex: 1;

            img {
              height: 40rem;
              border-radius: 10px;
              box-shadow: 0px 0px 10px 6px #252422;
              margin-bottom: 3rem;
            }
          }

          .screen-text {
            flex: 1;
            padding: 1rem 2rem;
            border-radius: 20px;
            text-align-last: left;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              object-fit: cover;
            }

            .text {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: flex;
              flex-direction: column;

              h3 {
                color: #eb5e28;
                border-bottom: 1px solid #eb5e28;
                padding-bottom: 0.5rem;
                font-size: 2rem;
              }

              span {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                color: #eb5e28;
                width: 30rem;

                p {
                  color: #f7f7f7;
                }
              }

              .view-more {
                color: #eb5e28;
                font-size: 1.5rem;
                border: 1px solid #eb5e28;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                align-self: flex-end;
              }
            }
          }
        }
      }      
    }
  }
}
